@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
:root{
    --prymary-clr:hsl(158, 36%, 37%);
    --prymary-clr2:hsl(158, 36%, 17%);
    --secondary-clr:hsl(30, 38%, 92%);

    --neutral-clr1:hsl(212, 21%, 14%);
    --neutral-clr2:hsl(228, 12%, 48%);
    --neutral-clr3:hsl(0, 0%, 100%);

    --ft-reg:500;
    --ft-bld:700;
    
    
    --ft-sec:'Fraunces', serif;
    --ft-base:'Montserrat', sans-serif;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  h1,
  h2,h3{
    line-height: 1;
  }
  body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
  }
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  body{
    font-family: var(--ft-base);
    font-weight:var(--ft-reg) ;
    color: var(--neutral-clr2);
    font-size: 0.89rem;
    background-color: var(--secondary-clr);

    min-height: 100vh;
    display: grid;
    place-content: center;
    margin: 1rem;
  }
.flex-group{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
.product-card{
    background-color: var(--neutral-clr3);
    border-radius: 0.5rem;
    overflow: hidden;
    display: grid;
    max-width: 600px;
}
.product-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
@media (min-width:600px){
    .product-card{
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }
}
.button{
    background-color: var(--prymary-clr);
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--neutral-clr3);
    gap: 0.5rem;
    padding: 0.5rem 0.9rem;
    font-weight: var(--ft-bld);
    border: 0;
    border-radius: 0.5rem;
}
.button[data-icon="cart"]::before{
    content: "";
    background-image: url(images/icon-cart.svg);
    width: 15px;
    height: 16px;
}
.button:is(:hover, :focus){
    background-color: var(--prymary-clr2);
    transition: 0.5s;
}
.product-content{
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
}
.product-category{
    text-transform: uppercase;
    letter-spacing: 6px;
}
.product-title{
    color: var(--neutral-clr1);
    font-size: 2rem;
    font-family: var(--ft-sec);
}
.product-price{
    font-size: 2rem;
    font-family: var(--ft-sec);
    color: var(--prymary-clr);
}
.attribution {
    margin-block: 0.5rem;
    font-size: 0.735rem;
    text-align: center;
  }
  .attribution a {
    color: hsl(158deg, 36%, 37%);
  }
  @media (min-width: 600px){
    .attribution {
      position: fixed;
      bottom: 0.325rem;
      width: 100%;
    }
  }